@use 'variable' as *;

@media (min-width: 1400px) {
	.container {
		max-width: 1140px;
	}
}

body {
	overflow: auto;
	scrollbar-width: none;
	/* For Firefox */
	-ms-overflow-style: none;
	/* For Internet Explorer and Edge */
}

html {
	scroll-behavior: smooth;
}

section[id] {
	scroll-margin-top: 84px;
}

body::-webkit-scrollbar {
	display: none;
	/* For Chrome, Safari and Opera */
}

.st-zoom {
	position: relative;
	overflow: hidden;

	.st-zoom-in {
		transition: all 0.4s ease-in-out;
	}

	&:hover {
		.st-zoom-in {
			transform: scale(1.07);
		}
	}
}

.st-vertical-middle {
	display: flex;
	align-items: center;
	height: 100%;

	.st-vertical-middle-in {
		width: 100%;
	}
}

.st-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.st-dark-bg {
	background-color: $dark-color2;
}

hr {
	margin: 0;
	width: 100%;
	border-color: #000000;
}

@media screen and (max-width: 991px) {
	.st-vertical-middle {
		display: block;
	}
}

@media screen and (min-width: 992px) {
	section[id] {
		scroll-margin-top: 0;
	}
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}

	[data-aos] {
		opacity: 1 !important;
		transform: none !important;
		transition: none !important;
	}
}
