@use "../../sass/default" as theme;

.st-section-heading.st-style1 {
  text-align: center;
  position: relative;
  margin-top: -5px;
  margin-bottom: 41px;

  .st-section-heading-title {
    font-size: 24px;
    font-weight: 600;
    color: theme.$base-color1;
    position: relative;
    z-index: 10;
    letter-spacing: 0;

    &::before {
      content: "";
      position: absolute;
      background-color: theme.$dark-color5;
      width: 170px;
      height: 2px;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      background-color: theme.$base-color1;
      width: 70px;
      height: 2px;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .st-section-heading-subtitle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 90px;
    font-weight: 600;
    color: rgba(theme.$dark-color1, 0.5);
    margin: 0;
    margin-top: -17px;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .st-section-heading.st-style1 .st-section-heading-subtitle {
    display: none;
  }
}
